.nav{
    height: 100px;
    background-color: darkblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav>a{
    color: white;
    font-size: 30px; 
}

.home{
    height: 500px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}